
.container-prueba {
    text-align: center;
    margin: 50px;
    padding: 20px;
    height: 600px;
    width: 800px;
    border: 1px solid #dc059b;
    border-radius: 5px;
    background-color: #faaeee;
}


center {
    margin: 20px 0;
}

#preview {
    border: 1px solid #3ed219;
    border-radius: 5px;
    margin: 10px auto;
}
