/* Estilos CSS en el archivo externo styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}


#fueraSeccion {
    background-color: #a3dcce;
    height: 75%;
    width: 30%;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

.lista-aside {
    padding: 5px;
}

#contenido {
    height: auto;
    width: 60%;
    background-color: #8bcbb4;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: justify;
}

.lista-aside li {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 0 20px;
    list-style: none;
    color: #000000;
    text-decoration: none;
}

nav {
    background-color: #ffffff;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    text-decoration: none;
}

.contenedor {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
}


h2 {
    color: #000000;
    margin: 25px;
}

p {
    line-height: 1.5;
    margin: 30px;
}

#footerfotos {
    height: auto;
    width: 100%;
    background-color: #8bcbb4;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
    #contenedor {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    nav,
    .row {
        flex-direction: column;
    }

    body {
        background-color: #434430;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    li {
        align-items: center;
        margin: 2px;
    }

    .encabezado-aside {
        text-align: center;
        width: 100%;
        margin-left: 0em;
    }

    #encabezado {
        width: auto;
        padding: 0;
    }

    #footerfotos {
        text-align: center;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .img{
        width: 90%;
    }
}


.seccion {
    display: flex;
    flex-wrap: wrap;
}

article {
    width: 33%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}


#contenedor {
    width: 900px;
    height: auto;
    background-color: none;
    max-width: 0 auto;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    border-style: groove;
}

.producto {
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    border-style: outset;
    box-sizing: border-box;
}

.producto-imagen {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.producto-codigo,
.producto-nombre,
.producto-precio,
.producto-status {
    margin: 5px 0;
}