body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

label {
    display: block;
    margin: 10px 0;
}

input {
    margin: 5px 0;
}

button {
    margin-top: 10px;
}

#imagenContainer img {
    width: 100px;
    height: 100;
    margin-top: 10px;
    max-height: 100px;
    margin-top: 10px;
}
